body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
.sections {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-info {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.name-of-service {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.service-name-list {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 8px;
}
/* GLOBALIST AWARE */
/* 320 */

.header-title {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.in-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-info {
  display: flex;
  align-items: center;
}

.bluelogo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 17px 0;
}
.blacklogo {
  color: #2e2f42;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
  padding: 24px 0 24px;
  position: relative;
}
.info {
  display: none;
}
.info-address {
  display: none;
}
.three-sticks {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.bluelogo:hover {
  color: #404bbf;
}
.blacklogo:hover {
  color: #404bbf;
}

.list-info-first {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  list-style: none;
  padding: 24px 0 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-info-first::after {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  content: "";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-info:hover {
  color: #404bbf;
}
.list-info:focus {
  color: #404bbf;
}

.mail-info {
  font-style: normal;
}
.mail-list-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-list-info:hover {
  color: #404bbf;
}
.mail-list-info:focus {
  color: #404bbf;
}

/* FIRST SECTION  AKA HERO*/

.section-one {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  padding: 72px 0 72px;
  margin: 0 auto;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}
.title-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-button:hover {
  background-color: #404bbf;
}
.title-button:focus {
  background-color: #404bbf;
}

/* SECOND SECTION */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-of-strategics {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}
.icon-box {
  display: none;
}
.icon {
  display: none;
}
.naming {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.strategic-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  font-weight: 500;
  max-width: 100%;
}

/* THIRD SECTION */

.section-three {
  background-color: #f4f4fd;
}
.list-headname {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.list-names {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-position {
  padding: 32px 0;
}
.names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.work-position {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  max-width: 264px;
}

.list-of-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.list-of-social-links {
  width: 40px;
  height: 40px;
}

.links-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-icons:hover {
  background-color: #404bbf;
}
.links-icons:focus {
  background-color: #404bbf;
}

.icons-title {
  fill: #f4f4fd;
}

/* FORTH SECTION */

.list-app-headname {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.apps-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-cover {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.hidden-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.apps-list:hover .hidden-text {
  transform: translateY(0);
}
.apps-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

/* FOOTER */

.footer-info {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  display: block;
  align-items: left;
}
.footin-contr {
  display: flex;
  flex-wrap: wrap;
}
.ffff-container {
  margin: 0 auto;
}
.bluelogo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  padding-left: 102px;
  padding-right: 102px;
}
.whitelogo {
  color: #f4f4fd;
}

.text-under-logo {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  margin-bottom: 72px;
  max-width: 264px;
}
.social-med {
  margin: 0 auto;
  margin-bottom: 72px;
}
.social-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.social-med-list {
  display: flex;
  gap: 16px;
}

.social-med-item {
  position: relative;
  width: 40px;
  height: 40px;
}

.media-links-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-links-icons:hover {
  background-color: #31d0aa;
}

.media-links-icons:focus {
  background-color: #31d0aa;
}

.media-icons-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #f4f4fd;
}

/* task 5  */
.social-med-form {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.forms-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.email-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.email-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.email-input::placeholder {
  color: #ffffff;
  font-weight: 400;
}

.sub-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.sub-button:hover {
  background-color: #404bbf;
}
.sub-button:focus {
  background-color: #404bbf;
}

.media-icons-button {
  margin-left: 16px;
}

/* MODAL WINDOW */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.modal-icon-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-info {
  margin-bottom: 8px;
}

.name-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.user-icon-filler {
  position: relative;
  margin-bottom: 16px;
}

.username-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.username-input:focus + .modal-icon-user {
  fill: #4d5ae5;
}
.username-input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-icon-user {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-box {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-checkbox:checked + .checkbox-label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.policy-title {
  color: #4d5ae5;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu.is-open {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
}
/* MOBILE MENU */
.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mob-menu-upper {
  padding-right: 24px;
  padding-top: 24px;
  padding-left: 16px;
}
.mob-menu-lower {
  padding-right: 24px;
  padding-bottom: 40px;
}
.mob-menu-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: block;
  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;
  padding: 8;
  width: 24px;
  height: 24px;
}
.mob-button-icon {
  fill: #2e2f42;
}
.mob-navigation-list-item {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-navigation-list-item-accent {
  color: #404bbf;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-address-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  padding-bottom: 48px;
  padding-left: 16px;
}
.mob-address-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.mob-address-list-item-accent {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  font-style: normal;
}

.mob-menu-social-icon-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
.mob-menu-social-icon-list-item {
  width: 40px;
  height: 40px;
}
.mob-menu-social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-social-icon {
  fill: #f4f4fd;
}

/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .three-sticks {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .mob-menu-is-open {
    display: none;
  }
  .bluelogo {
    margin-right: 120px;
  }

  .info {
    display: flex;
    gap: 40px;
  }
  .list-info {
    color: #2e2f42;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-info:hover,
  .list-info:focus {
    color: #404bbf;
  }
  .running {
    color: #404bbf;
    position: relative;
  }
  .running::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .mail-info {
    font-style: normal;
    margin-left: auto;
    display: block;
  }
  .info-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .mail-list-info {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mail-list-info:hover,
  .mail-list-info:focus {
    color: #404bbf;
  }
  /* HERO */
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-tabl-1x.jpg");
    max-width: 768px;
    padding: 112px 0 112px;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  /* second section */
  .list-of-strategics {
    gap: 24px;
  }
  .detailed-list-namestart {
    width: calc((100% - 24px) / 2);
  }
  .naming {
    text-align: left;
  }
  /* third section */
  .list-headname {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }

  /* FOOTER section  */
  .footin-contr {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 108px;
  }
  .ffff-container {
    margin-right: 24px;
    margin-left: 0;
  }
  .bluelogo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }
  .social-med {
    margin: 0;
    margin-bottom: 72px;
  }
  .social-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;
  }
  .social-med-form {
    margin: 0;
    text-align: center;
    align-items: center;
  }
  .forms-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: left;
  }
  /* MODAL-OVERLAY  */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
  .checkbox-box {
    margin-bottom: 24px;
    margin-left: 0px;
  }
  .checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    flex-wrap: wrap;
    width: 362px;
    position: relative;
  }
  .privacy-link {
    position: relative;
    top: 0%;
    left: 0%;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-top: 0px;
    margin-right: 8px;
  }
}
/* 1158 */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .bluelogo {
    margin-right: 76px;
  }
  .info-address {
    flex-direction: row;
    gap: 40px;
  }
  .mail-list-info {
    font-size: 16px;
    line-height: 1.5;
  }
  /* HERO*/
  .section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero.jpg");
    max-width: 1440px;
    padding: 188px 0 188px;
  }
  .main-title {
    margin-bottom: 48px;
  }
  /* SECOND SECTION */
  .list-of-strategics {
    flex-wrap: nowrap;
  }
  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    max-width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    position: relative;
    margin-bottom: 8px;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .naming {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .strategic-info {
    display: block;
    font-weight: 400;
  }

  /* FOOTER SECTION */
  .footer-info {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footin-contr {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 0;
  }
  .text-under-logo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
    margin-bottom: 0;
    max-width: 264px;
  }
  .ffff-container {
    margin-right: 120px;
  }
  .social-med {
    margin: 0;
    margin-bottom: 0;
    margin-right: 80px;
  }
  /* MODAL-OVERLAY */
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
}
